.footer__container
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    .footer__ad
        ul
            li
                a(href="https://car365.go.kr/") 국토교통부 제공 중고차 매물차량 정보 검색사이트
    .commercial
        .banner1
            <ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-vbk7o8hctv8l" data-ad-width   = "300" data-ad-height  = "250"></ins> 
        .banner2
            <ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-1hrj6v54u2fjn" data-ad-width   = "300" data-ad-height  = "250"></ins> 
        .banner3
            <ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-1hr85prqyzp6g" data-ad-width   = "300" data-ad-height  = "250"></ins> 

    .copyright 
        span.copyright__text
            <i class="far fa-copyright"></i> recorder12. All Right Reserved.

